* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 24px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

@media (max-width: 700px) {
  header {
    grid-template-columns: 1fr;
  }
}

header h1 {
  grid-column-start: 1;
  grid-column-end: -1;
}

header p {
  font-size: 1.2em;
}

header figure {
  margin: 0;
  margin-top: 1em;
}

header figure img {
  width: 100%;
}

main {
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  color: white;
  background-color: white;
  grid-gap: 2px;
  font-size: 0.6em;
}

main div {
  padding: 38px 10px;
  text-align: center;
}

main .colorg {
  grid-column-start: 1;
  grid-column-end: -1;
  color: white;
  margin: 0;
  padding: 30px 20px;
  text-align: center;
}

main .colorg.z1 {
  background-color: rgb(209, 97, 60);
}

main .colorg.z2 {
  background-color: rgb(32, 84, 112);
}

main .colorg.z3 {
  background-color: rgb(160, 97, 103);
}

main .colorg.z4 {
  background-color: rgb(121, 124, 67);
}

main .colorg.z5 {
  background-color: rgb(82, 73, 61);
}

div.z1a { background-color: rgb(180, 88, 60); }
div.z1b { background-color: rgb(209, 97, 60); }
div.z1c { background-color: rgb(208, 121, 89); }
div.z1d { background-color: rgb(214, 144, 115); }
div.z1e { background-color: rgb(228, 148, 100); }

div.z2a { background-color: rgb(47, 87, 109); }
div.z2b { background-color: rgb(62, 114, 140); }
div.z2c { background-color: rgb(100, 133, 143); }
div.z2d { background-color: rgb(92, 114, 124); }
div.z2e { background-color: rgb(125, 133, 130); }

div.z3a { background-color: rgb(109, 56, 61); }
div.z3b { background-color: rgb(126, 60, 58); }
div.z3c { background-color: rgb(127, 59, 70); }
div.z3d { background-color: rgb(160, 97, 103); }
div.z3e { background-color: rgb(189, 127, 128); }

div.z4a { background-color: rgb(90, 92, 49); }
div.z4b { background-color: rgb(121, 124, 67); }
div.z4c { background-color: rgb(145, 157, 95); }
div.z4d { background-color: rgb(158, 160, 98); }
div.z4e { background-color: rgb(138, 140, 100); }

div.z5a { background-color: rgb(82, 73, 61); }
div.z5b { background-color: rgb(122, 109, 92); }
div.z5c { background-color: rgb(152, 142, 126); }
div.z5d { background-color: rgb(132, 132, 124); }
div.z5e { background-color: rgb(132, 132, 114); }
