* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 24px;
  color: rgb(56, 52, 45);;
}

a {
  text-decoration: none;
  color: rgb( 209, 99, 62 );
  border-bottom: 2px dotted rgb( 209, 99, 62 );
  display: inline-block;
  line-height: 1;
}

a:hover {
  border-bottom: 2px solid rgb( 209, 99, 62 );
}

header {
  font-family: 'IM Fell English', serif;
  font-size: 1.6em;
  display: grid;
  grid-template-columns: 60% 37%;
  grid-gap: 3%;
}

header h1 {
  grid-column-start: 1;
  grid-column-end: -1;
}

header figure {
  margin: 0;
  margin-top: 1em;
}

header figure a {
  line-height: 0;
  width: 100%;
}

header figure img {
  width: 100%;
}

header figure figcaption {
  font-size: 0.6em;
  padding: 0.3em 1.2em 0.6em 1.2em;
  background-color: rgba( 125, 133, 130, 0.6 );
  color: white;
  margin-top: -0.6em;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  color: white;
  background-color: white;
  grid-gap: 2px;
  font-size: 0.6em;
}

main div,
main h2,
main h3 {
  padding: 54px 24px;
  text-align: center;
}

main .colorg {
  grid-column-start: 1;
  grid-column-end: -1;
  color: white;
  margin: 0;
  padding: 54px 24px;
  text-align: center;
}

main h2.colorg {
  color: rgb(56, 52, 45);
  font-family: 'IM Fell English', serif;
  font-size: 2.4em;
}

div.g1 { background-color: rgb(202, 76, 37); }
div.g2 { background-color: rgb(44, 85, 108); }
div.g3 { background-color: rgb(147, 93, 89); }
div.g4 { background-color: rgb(125, 129, 70); }
div.g5 { background-color: rgb(56, 52, 45); }
div.g6 { background-color: rgb(209, 99, 62); }
div.g7 { background-color: rgb(54, 105, 140); }
div.g8 { background-color: rgb(173, 109, 113); }
div.g9 { background-color: rgb(145, 152, 94); }
div.g10 { background-color: rgb(82, 73, 61); }

main .colorg.z1 {
  background-color: rgb(209, 97, 60);
}

main .colorg.z2 {
  background-color: rgb(32, 84, 112);
}

main .colorg.z3 {
  background-color: rgb(160, 97, 103);
}

main .colorg.z4 {
  background-color: rgb(121, 124, 67);
}

main .colorg.z5 {
  background-color: rgb(50, 47, 41);
}

div.z1a { background-color: rgb(180, 88, 60); }
div.z1b { background-color: rgb(209, 97, 60); }
div.z1c { background-color: rgb(208, 121, 89); }
div.z1d { background-color: rgb(214, 144, 115); }
div.z1e { background-color: rgb(228, 148, 100); }

div.z2a { background-color: rgb(47, 87, 109); }
div.z2b { background-color: rgb(62, 114, 140); }
div.z2c { background-color: rgb(100, 133, 143); }
div.z2d { background-color: rgb(92, 114, 124); }
div.z2e { background-color: rgb(125, 133, 130); }

div.z3a { background-color: rgb(109, 56, 61); }
div.z3b { background-color: rgb(126, 60, 58); }
div.z3c { background-color: rgb(127, 59, 70); }
div.z3d { background-color: rgb(160, 97, 103); }
div.z3e { background-color: rgb(189, 127, 128); }

div.z4a { background-color: rgb(90, 92, 49); }
div.z4b { background-color: rgb(121, 124, 67); }
div.z4c { background-color: rgb(145, 157, 95); }
div.z4d { background-color: rgb(158, 160, 98); }
div.z4e { background-color: rgb(138, 140, 100); }

div.z5a { background-color: rgb(50, 47, 41); }
div.z5b { background-color: rgb(82, 73, 61); }
div.z5c { background-color: rgb(122, 109, 92); }
div.z5d { background-color: rgb(152, 142, 126); }
div.z5e { background-color: rgb(132, 132, 124); }



@media (max-width: 700px) {
  header {
    grid-template-columns: 1fr;
      grid-gap: 1%;
  }
}

@media (max-width: 500px) {
  main div,
  main h2,
  main h3 {
    padding: 40px 10px;
  }
}
